Django==1.8.4
Markdown==2.6.6
Pillow==3.2.0
argparse==1.2.1
decorator==4.0.4
django-classy-tags==0.7.2
django-debug-toolbar==1.4
django-mptt==0.8.3
django-nyt==0.9.9
django-sekizai==0.9.0
eveapi==1.2.6
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
praw==3.2.1
psycopg2==2.6.1
requests==2.7.0
simplegeneric==0.8.1
six==1.9.0
sorl-thumbnail==12.4a1
sqlparse==0.1.18
traitlets==4.0.0
update-checker==0.11
wiki==0.1
wsgiref==0.1.2
