{% extends "cof_layout.html" %}

{% block content %}
  <div class="container">
    <div class="row top-blurb">
      <div class="col-md-4 col-md-offset-8 col-sm-6 col-sm-offset-6">
        <h4>Catastrophic Overview Failure</h4>
        <p>Welcome to COF Local, Catastrophic Overview Failure's official website.</p>
        <p>Catastrophic Overview Failure is the Brave Collective's premier new-player friendly wormhole corporation. We pride ourselves on our newbie friendliness and low-SP doctrines. We accept pilots with low and high SP, with high or low game experience and from any timezone. For more information, check out <a href="#">ABOUT COF</a>.</p>
        <p>If you are here for diplomatic reasons, contact Tobil Tobir in-game.</p>
      </div>
    </div>
    <div class="row content-block">
      <div class="col-md-4 col-sm-4">
        <h3>We are Recruiting</h3>
        <p>Catastrophic Overview Failure is always open for people looking to get in to wormhole space. We offer a way of life in wormhole space for everyone, regardless of experience in the game.</p>
        <p>Among other things, we offer:
        <ul>
          <li>PvP focus with many ISK-making opportunities</li>
          <li>Great SRP, hauling service and in-hole market</li>
          <li>Lots of activity in both US and EU timezones</li>
          <li>New-pilot friendliness, with low SP doctrines</li>
        </ul>
        <p>[BIG JOIN NOW BUTTON THING]</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <h4>Latest video:</h4>
        <div id="static_video"></div>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R8jDRFx0YZ4" allowfullscreen></iframe>
        </div>

      </div>
      <div class="col-md-4 col-sm-4">
        <img class="center-block eve-logos" src="/static/img/eve-logos.png"/>
      </div>
    </div>
  </div>
{% endblock %}