{% extends 'cof_layout.html' %}

{% block content %}
<div class="container">
  <div class="row content-top">
    <div class="col-md-12">
      <h2>Register</h2>
      {% if error %}
          <div class="alert alert-danger" role="alert"><strong>Error:</strong> {{error}}</div>
      {% endif %}
      {% if characters %}
        <div class="characters">
          {% for char in characters %}
             <div numChar="{{forloop.counter}}" class="thumbnail">
                <img src="//image.eveonline.com/Character/{{char.charID}}_128.jpg" alt="{{char.charName}}">
                <strong>{{char.charName}}</strong>
             </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="col-md-12">
      <p>Please Provide API Keys for all of your accounts and mark your main Character before continuing</p>
      <form action="" method="post">
        <div class="form-group">
          <label for="keyID">API Key ID</label>
          <input type="text" class="form-control" name="keyID" id="keyID" placeholder="Enter Key ID">
        </div>
        <div class="form-group">
          <label for="vCode">Verification Code</label>
          <input type="text" class="form-control" name="vCode" id="vCode" placeholder="Enter vCode">
        </div>
        <input type="hidden" name="mainChar" id="mainChar" value="0"/>
        <button type="submit" name="action" value="addkey" class="btn btn-default">Add Key</button>
        <button type="submit" id="done" name="action" value="done" class="btn btn-default pull-right">Done</button>
        <button disabled="true" style="display: none" id="fakedone" class="btn btn-default pull-right">Validating, please wait...</button>
         {% csrf_token %}
      </form>
    </div>
  </div>
  <script>
    $('button#done').click(function () {
      $(this).hide();
      $('button#fakedone').show();
    });
    $('.thumbnail').click(function () {
        $('.thumbnail').removeClass('mainChar');
        $(this).addClass('mainChar');
        $('input#mainChar').val($(this).attr('numChar'));
    })
  </script>
</div>
{% endblock %}