{% extends "cof_layout.html" %}

{% block content-bottom %}
  <div class="col-md-8 col-sm-8">
    <h3>We are Recruiting</h3>
    <p>Catastrophic Overview Failure is always open for people looking to get in to wormhole space. We offer a way of life in wormhole space for everyone, regardless of experience in the game.</p>
    <p>Among other things, we offer:
    <ul>
      <li>PvP focus with many ISK-making opportunities</li>
      <li>Great SRP, hauling service and in-hole market</li>
      <li>Lots of activity in both US and EU timezones</li>
      <li>New-pilot friendliness, with low SP doctrines</li>
    </ul>
    <p>[BIG JOIN NOW BUTTON THING]</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
  </div>
  <div class="col-md-4 col-sm-4">
    <h4>Latest videos:</h4>
    <div id="cof-videos"></div>
    <script>
      function showVideo(response) {
        if(response.items) {
          var items = response.items;
          if(items.length>0) {
            $(items).each(function(idx, item){
              var videoid = "https://www.youtube.com/embed/"+item.id.videoId;
              console.log("Latest ID: '"+videoid+"'");
              var frame = $('<div class="embed-responsive embed-responsive-16by9"><iframe id="player" class="embed-responsive-item" allowfullscreen src="' + videoid + '"></iframe></div>');
              $('#cof-videos').append(frame);
            });
          }
        }
      }
    </script>
    <script src="https://www.googleapis.com/youtube/v3/search?order=date&part=snippet&channelId=UC_JFB7Bf_XH5hw3k7_WrtAQ&maxResults=2&key={{ YOUTUBE_API_KEY }}&alt=json&callback=showVideo"></script>
  </div>
{% endblock %}