.admonition {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.admonition h4 {
    margin-top: 0;
    color: inherit
}

.admonition a {
    font-weight: bold
}

.admonition>p,.admonition>ul {
    margin-bottom: 0
}

.admonition>p+p {
    margin-top: 5px
}

.warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b
}

.warning hr {
    border-top-color: #f7e1b5
}

.warning a {
    color: #66512c
}