@font-face {
  local('Future Earth');
  local('Future-Earth');
  font-family: "Future Earth";
  src: url('/static/font/Future-Earth.ttf');
  format('truetype');
}

body {
  background: url('/static/img/page-bg6.png') no-repeat center center fixed, #080808;
  background-clip: border-box;
  font-size:14px;
  background-size: cover;
  padding-top: 90px;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  body {
    padding-top:140px;
  }
}

a {
  color:#BEAD75;
}

h1, h2, h3, h4, h5, h6 {
  text-transform:uppercase;
  font-weight:bold;
}

.future-earth {
  font-family: "Future Earth", Helvetica, Arial, sans-serif;
}

p {
  text-align: justify;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .flex-sm-vcenter {
    flex-direction: column;
  }

  .flex-sm-vcenter img{
    margin: 5px 0;
  }
}

ul.star {
  list-style-image: url('/static/img/star-gold.png');
}

/* nav */

#navbar-wrapper {
  margin:0 auto;
  max-width:1000px;
}

.navbar-toggle {
  margin: 23px 0;
}

.navbar-nav, .navbar-nav li, .navbar-nav li a {
  height: 80px;
  line-height: 80px;
}

.navbar-nav li a {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  .navbar-brand {
    padding: 0;
  }
}

.navbar-brand {
  padding-top:0;
}

.navbar {
  background: rgba(0, 0, 0, 0.5); /* for latest browsers */
  text-transform:uppercase;
  font-weight:bold;
  font-size:10px;
  border-bottom:none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav:hover>.active>a:hover,
  .navbar-inverse .navbar-nav:hover>li>a:hover{
  background: url('/static/img/star-active.png') no-repeat center bottom 10px #BEAD75;
  color: #000000;
}

.navbar-inverse .navbar-nav:hover>.active>a {
  color: #9d9d9d;
  background-color: transparent;
  background-image:none;
}

@media only screen and (max-width : 991px) {
  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background:transparent;
    color: #FFFFFF;
  }
}

/* main */

.content-top {
  color:#FFFFFF;
  background: rgba(0, 0, 0, 0.5);
  padding-top:10px;
  padding-bottom:10px;
}

.content-bottom {
  background:white;
  border: 1px solid black;
  padding-top:10px;
  padding-bottom:10px;
}

.top-blurb {
  color: #FFF;
  margin-bottom:25px;
  text-shadow: 2px 2px #000000;
}

.top-blurb p {
  font-size:12px;
}

.top-blurb h5{
  line-height:20px;
}

#cof-videos div.embed-responsive {
  margin-bottom:8px;
}

/* Sticky footer styles
-------------------------------------------------- */
@media (min-width: 769px) {
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 107px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 107px;
    background: rgba(0, 0, 0, 0.5);
  }
}

.footer {
  background: rgba(0, 0, 0, 0.5);
  font-size: 10px;
}

.footer .logo-bottom {
  padding-top:10px;
}

.footer .col-md-5 {
  padding-top: 26px;
}

@media (max-width: 768px) {
  .col-xs-12.text-right p, .col-xs-12.text-left p{
     text-align: center;
   }
}

/* Register */
.characters .thumbnail {
  width: 128px;
  display: inline-block;
  color:#000000;
}

.characters .mainChar {
  background-color:#BEAD75;
}